/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&family=Roboto:wght@300&display=swap');

/* Reset default browser styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'roboto', sans-serif;
}

/* Header */
header {
    background-color: #05583b;
    padding: 0 0.5rem;
    position: fixed;
    width: 100%;
    box-shadow: 0 4px 4px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: #ffffff;
    font-size: 90%;
}

h1 {
    font-family: roboto slab, sans-serif;
    color: #f7f1f1
}

#menu {
    list-style-type: none;
    letter-spacing: 2px;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color:#05583b;
    width: 100%;
    left: 0;
    padding: 0 0.5rem;
    box-shadow: 0 4px 4px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 1.5rem;
    color: #ffffff;
}

/* Main content */
main {
    /* Make main take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 47px;
}

/* Hero section */
#hero {
    height: 600px;
    width: 100%;
    background-color: red;
}

/* Footer */
footer {
    background-color: #05583b;
    box-shadow: 0 -4px 4px #3a3a3a;
    }

footer a {
    color: #ffffff;
}

#social-networks {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    text-align: center;
    padding: 5px;
}


@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
            padding-left: 1rem;
    }
    
    .nav-toggle-label {
            display: none;
    }

    #logo {
        font-size: 270%;
        line-height: 65px;
    }

    /* Main */
    main{
        margin-top: 75px;
    }
}
