/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&family=Roboto:wght@300&display=swap');

/* Reset default browser styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'roboto', sans-serif;
}

/* Header */
header {
    background-color: #05583b;
    padding: 0 0.5rem;
    position: fixed;
    width: 100%;
    box-shadow: 0 4px 4px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: #ffffff;
    font-size: 90%;
}

h1 {
    font-family: roboto slab, sans-serif;
    color: #f7f1f1
}

#menu {
    list-style-type: none;
    letter-spacing: 2px;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color:#05583b;
    width: 100%;
    left: 0;
    padding: 0 0.5rem;
    box-shadow: 0 4px 4px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 1.5rem;
    color: #ffffff;
}

/* Main content */
main {
    /* Make main take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 38px;
}

/* Hero section */
#hero {
    height: 300px;
    width: 100%;
}

#hero-image {
    height: 200px;
    width: 100%;
    background: url(../images/hero-image\ 2.webp) no-repeat center center/cover;
}

#hero-text {
    height: 100px;
    width: 100%;
    background-color:#05583b;
    padding-top: 5px;
    color:#ffffff;
    text-align: center;
    font-family: roboto slab, sans-serif;
}

#hero-text h2 {
    font-size: 1rem;
}

#hero-text h3 {
    font-size: 0.8rem;
}

br {
    content: "";
    margin: 2em;
    display: block;
    font-size: 24%;
}

.btn {
    display: inline-block;
    padding: 0.7rem 1.3rem;
    font-size: 0.5rem;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid;
    border-radius: 0.5rem;
    box-shadow: inset 0 -3px 0 1px #3a3a3a;
    background-color: white;
    text-decoration: none;
}

/* About Section */
#about-section {
    width: 100%;
    margin: 10px;
    padding-top: 15px;
}

#about-section img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 20px 9px rgba(0, 0, 0, 0.36);
}

/* Facilities section */
#on-offer {
    box-sizing: border-box;
    border-style: solid #3a3a3a;
    background-color: rgba(54, 1, 63, 1);
    color: #ffffff;
    padding: 0.75rem;
    font-size: 0.75rem;
}

ul {
    list-style-type: none;
}

/* Gallery page */

#photos img {
    width: 100%;
    line-height: 1em;
}

#photos {
    line-height: 0;
}

/* Membership page */
#enquire-about-membership {
    background-image: url("../images/tennis-balls.webp");
    opacity: 0.7;
    background-size: cover;
    background-position: 75%;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
    color: #ffffff;
    font-family: roboto-slab, sans-serif;
}

#enquire-about-membership form {
    background-color: rgba(5, 0, 0, 0.7);
    margin: 40px 5px;
    font-size: 80%;
    padding: 20px;
}

.input-field {
    width: 100%;
    border-radius: 2px;
}

.input-field label{
    display: block;
}

/* Footer */
footer {
    background-color: #05583b;
    box-shadow: 0 -4px 4px #3a3a3a;
    }

footer a {
    color: #ffffff;
}

#social-networks {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    text-align: center;
    padding: 5px;
}

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {
    #photos {
        column-count: 2;
        column-gap: 0;
    }

}    

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
            padding-left: 1rem;
    }
    
    .nav-toggle-label {
            display: none;
    }

    #logo {
        font-size: 270%;
        line-height: 65px;
    }

    /* Main */
    main {
        margin-top: 65px;
    }

    /* Gallery */
    #photos {
        column-count: 3;
    }
}

/* Media query: laptops and desktops (992px and up) */
@media screen and (min-width: 992px) {
/* Gallery */
    #photos {
        column-count: 4;
    }
}